# Виртуальное окружение
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Конвертированные файлы
*_converted.txt

# Веб-приложение
uploads/
converted/
results/
debug/
storage/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Временные файлы
*.tmp
*.log

# Скрипты с паролями (если нужно)
# scripts/deploy.sh  # Раскомментируйте, если не хотите коммитить пароли

# API ключи
ApiKey.txt
key.txt
JayFlowClientHTTP.txt
githubkey.txt

githubkey.txt
